<!DOCTYPE html>
<html>
  <head>
    <title>Calculadora</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script src="/javascripts/calculadora.js"></script>
  </head>
  <body>
    <div class="calculadora">
      <form name="form_input" class="input_form">
        <input class="input__calculadora" name="answer" />
      </form>
      <div class="buttons">
        <button class="button__calculadora" id="mas" value="+">+</button>
        <button class="button__calculadora" id="menos" value="-">-</button>
        <button class="button__calculadora" id="por" value="*">x</button>
        <button class="button__calculadora" id="division" value="/">/</button>
        <button class="button__calculadora" id="clear">AC</button>
        <button class="button__calculadora" id="uno" value="1">1</button>
        <button class="button__calculadora" id="2" value="2">2</button>
        <button class="button__calculadora" id="3" value="3">3</button>
        <button class="button__calculadora" id="4" value="4">4</button>
        <button class="button__calculadora" id="5" value="5">5</button>
        <button class="button__calculadora" id="6" value="6">6</button>
        <button class="button__calculadora" id="7" value="7">7</button>
        <button class="button__calculadora" id="8" value="8">8</button>
        <button class="button__calculadora" id="9" value="9">9</button>
        <button class="button__calculadora" id="0" value="0">0</button>
        <button class="button__calculadora result" id="igual">=</button>
      </div>
    </div>
  </body>
</html>
